* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Lato", "Noto Sans TC", sans-serif;
}

.header {
  width: 100%;
  margin: 30px 0px;
}

.header .container,
.skill .container,
.autobiography .text,
.work-experience .container,
.product .container {
  width: 80%;
  margin: auto;
}

.header .container .id h1,
.skill .container h1,
.autobiography .text h1,
.work-experience .container h1,
.product .container h1 {
  font-size: 24px;
  line-height: 2em;
}

.skill,
.autobiography,
.work-experience,
.product {
  margin-bottom: 30px;
}

.header .container .avatar img {
  vertical-align: middle;
  border-radius: 50%;
}

.header .container .id h2,
.header .container .id p {
  font-size: 18px;
  font-weight: normal;
  line-height: 2em;
  letter-spacing: 0.1em;
}

.header .container .id .icon {
  padding: 20px 0px;
}

.header .container .id .icon a {
  text-decoration: none;
  color: gray;
  font-size: 24px;
}

.header .container .id .icon a + a {
  margin-left: 10px;
}

.header .container .email {
  color: orangered;
  text-decoration: nones;
}

.header .container .email:hover {
  color: orange;
}

/* RWD */
@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    /* background-color: orangered; */
  }

  .header .container .id {
    margin-left: 30px;
  }
}

.skill .container .item {
  margin-bottom: 15px;
}

.skill .container .item h2 {
  font-size: 18px;
  font-weight: normal;
  padding: 15px 0px;
  border-top: 2px solid gray;
  /* background-color: orangered; */
}

.skill .container .item p,
.skill .container .item ol li {
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

/* RWD */
@media screen and (min-width: 768px) {
  .skill .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skill .container h1 {
    width: 100%;
  }

  .skill .container .item {
    width: 30%;
  }
}

.autobiography .text h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 2em;
}

.autobiography .text p {
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

/* RWD No */

.work-experience .container .item {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 0px;
  margin-left: 50px;
  /* background-color: blanchedalmond; */
}

.work-experience .container .item::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: -50px;
  box-sizing: border-box;
}

.work-experience .container .item:nth-child(2):after {
  content: "";
  width: 2px;
  height: 100%;
  background-color: gray;
  position: absolute;
  top: 15px;
  left: -46px;
  box-sizing: border-box;
}

.work-experience .container .item .text {
  width: 80%;
}

.work-experience .container .item .text h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5em;
}

.work-experience .container .item .text ol {
  padding: 10px 0px;
}

.work-experience .container .item .logo {
  width: 20%;
  text-align: right;
  /* background-color: blue; */
}

.work-experience .container .item .logo img {
  vertical-align: middle;
  border-radius: 50%;
}

/* RWD */
@media screen and (min-width: 768px) {
  .work-experience .container .item .logo {
    text-align: left;
  }
}

.product .container .item .pic {
  width: 100%;
}

.product .container .item .pic img {
  width: 100%;
  vertical-align: middle;
  border-radius: 10px;
}

.product .container .item .text {
  margin: 20px 0px;
}

.product .container .item .text a {
  font-size: 32px;
  font-weight: bold;
  line-height: 2em;
  text-decoration: none;
  color: black;
}

.product .container .item .text .tech,
.product .container .item .text p {
  line-height: 1.5em;
}

.product .container .item .text p {
  letter-spacing: 0.1em;
  padding: 10px 0px;
}

/* RWD */
@media screen and (min-width: 768px) {
  .product {
    height: 100%;
  }
  .product .container .item {
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
  }
  .product .container .item:nth-child(3) .pic {
    order: 1;
  }
  .product .container .item .pic {
    width: 60%;
  }

  .product .container .item .text {
    width: 30%;
  }
}
